@use "variables";

header {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  background-color: variables.$primary-nav-color;

  h2 {
    color: variables.$primary-text-line;
    font-weight: 600;
    padding-left: 25%;
  }
  .text-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-right: 10%;
    // color: variables.$primary-text-line;
    h3,
    h4 {
      color: variables.$primary-text-line;
      font-family: variables.$primary-font;
      font-size: 16px;
    }
    h3 {
      font-weight: 400;
    }
    h4 {
      font-weight: 700;
    }
  }

  //   .line {
  //     display: flex;
  //     align-items: center;
  //     justify-content: space-between;
  //     background-color: $bg-third-color;
  //   }
}
